<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#01579b" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../plugins/materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../plugins/fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../plugins/css/main.css">
    <link rel="shortcut icon" href="../resources/ico/upds.ico">
    <title>| UPDS HELP</title>
</head>

<body class="grey lighten-3">
    <header>
        <nav class="z-depth-3">
            <div class="nav-wrapper light-blue darken-4">
                <a href="#!" data-activates="menuLateral" class="button-collapse top-nav full hide-on-large-only white-text waves-effect">
                    <i class="icon-menu-1"></i>
                </a>
                <a href="#" class="brand-logo">&nbsp;UPDS HELP</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a onclick="$('.button-collapse').sideNav('show');">
                            <i class="icon-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul id="menuLateral" class="side-nav white-text light-blue darken-4">
            <li class="logo light-blue darken-4 z-depth-1">
                <div class="row">
                    <div class="col s6">
                        <h2>
                            <img src="../resources/images/upds.png" class="responsive-img">
                        </h2>
                    </div>
                    <div class="col s6">
                        <h2 class="btn-block waves-effect waves-light light-blue darken-4 white-text" onclick="CerrarSideNav();">
                            <i class="icon-cancel-1"></i>
                        </h2>
                    </div>
                </div>
            </li>
            <!--Menu Lateral-->
            <ul class="collapsible" data-collapsible="accordion">
                <li onclick="window.location='../index.html'">
                    <div class="collapsible-header">
                        <i class="icon-home"></i>Inicio</div>
                </li>
                <li onclick="window.location='extension-universitaria.html'">
                    <div class="collapsible-header">
                        <i class="icon-handshake-o"></i>Extensión Universitaria</div>
                </li>
                <li onclick="window.location='registro.html'" class="white light-blue-text text-darken-4">
                    <div class="collapsible-header">
                        <i class="icon-clipboard"></i>Registro</div>
                </li>
                <li onclick="window.location='coordinacion-academica.html'">
                    <div class="collapsible-header">
                        <i class="icon-suitcase"></i>Coordinación Académica</div>
                </li>
                <li onclick="window.location='escuela-postgrado.html'">
                    <div class="collapsible-header">
                        <i class="icon-graduation-cap"></i>Escuela Postgrado</div>
                </li>
                <li onclick="window.location='caja.html'">
                    <div class="collapsible-header">
                        <i class="icon-money"></i>Caja</div>
                </li>
                <li onclick="window.location='marketing.html'">
                    <div class="collapsible-header">
                        <i class="icon-megaphone"></i>Marketing</div>
                </li>
                <li onclick="window.location='secretaria-gral.html'">
                    <div class="collapsible-header">
                        <i class="icon-inbox"></i>Secretaría General</div>
                </li>
                <li onclick="window.location='relaciones-pub.html'">
                    <div class="collapsible-header">
                        <i class="icon-users"></i>Relaciones Públicas</div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="icon-fort-awesome"></i>Jefatura de Carreras</div>
                    <div class="collapsible-body">
                        <div class="collapsible-header light-blue-text text-darken-4" onclick="window.location='fac-ingenieria.html'">
                            <i class=" icon-cog-alt light-blue-text text-darken-4"></i>Facultar de Ingeniería
                        </div>
                    </div>
                </li>
            </ul>
            <!--Fin Menu Lateral-->
        </ul>
    </header>
    <main>
        <div class="container light-blue-text text-darken-4">
            <center>
                <h3 class="light-blue-text text-darken-4">Registro</h3>
            </center>
            <div class="divider"></div>
            <div class="section">
                <h5 class=" flow-text">Encargado del Departamento</h5>
                <p class="flow-text">
                    <b>Carla Gareca</b>
                </p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5 class=" flow-text">¿Qué puedes realizar en este departamento?</h5>
                <p>Programación de Materias.</p>
                <p>Solicitud de Reserva de Cupo (Prorrogas de Materias).</p>
                <p>Emisión de Certificados de Estudios.</p>
                <p>Emisión de Certificados de Conclusión de Estudios.</p>
                <p>Emisión de Avances Académicos.</p>
                <p>Congelamientos de Materias.</p>
                <p>Cambios de Materias (turnos).</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5 class=" flow-text">¿Quiénes trabajan y de que se encargan?</h5>
  
                <p>
                    <b>Becarios de Registro:</b>&nbsp;Programación de materias, emisión de prorrogas, entrega de documentación (avances académicos, certificados).</p>
                <p>
                    <b>Supervisor de Registro:</b>&nbsp;Monitoreo de la programación de materias, elaboración de certificados de estudios y conclusión de estudios cargado de notas de practicas profesionales,
                    proceso de congelamientos de materias, cambios de carreras en el sistema, resguardo de documentación.
                </p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s6 m3 l3">
                        <h1 class="light-blue-text text-darken-4 center-align">
                            <i class=" icon-clock"></i>
                        </h1>
                    </div>
                    <div class="col s6 m9 l9">
                        <h5 class=" flow-text">Horarios de atención</h5>
                        <p>
                            <b>Mañana:</b>&nbsp;8:00 a 12:30</p>
                        <p>
                            <b>Tarde:</b>&nbsp;12:30 a 20:00</p>
                        <hr>
                        <h5 class=" flow-text">Supervisor de Registro</h5>
                        <p>
                            <b>Mañana:</b>&nbsp;8:30 a 12:30</p>
                        <p>
                            <b>Tarde:</b>&nbsp;15:00 a 19:00</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer light-blue darken-4 white-text z-depth-3">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <center>
                        <img src="../resources/images/upds.png" width="60">
                        <p class="grey-text text-lighten-4">¡Profesionales más humanos!</p>
                    </center>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright UPDS Help
                <a class="grey-text text-lighten-4 right" href="#!">Web - Desing : Amilkar Dominguez</a>
            </div>
        </div>
    </footer>
    <!--Fin Botones Flotantes-->
    <!-- JS -->
    <script src="../plugins/js/jquery-3.1.1.js"></script>
    <script src="../plugins/materialize/js/materialize.js"></script>
    <script src="../plugins/materialize/js/init.js"></script>
    <script src="../plugins/js/main.js"></script>
</body>

</html>